@import url(https://fonts.googleapis.com/css?family=Ephesis);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: "Open Sans" !important;
}

.App {
  margin-top: 110px;
  margin-bottom: 70px;
}

.btn-primary,
.bg-primary {
  background-color: #a33325 !important;
  color: #ffffff;
}

.btn-secondary,
.bg-secondary {
  background-color: #5c4d6a !important;
  color: #ffffff;
}

.text-primary {
  color: #a33325 !important;
}

.text-secondary {
  color: #5c4d6a !important;
}

.title-text {
  font-family: "Ephesis";
  font-size: 2.3rem;
  font-weight: 700 !important;
  letter-spacing: 0.3rem;
}

.item-title {
  font-size: 2.3rem;
  font-weight: 700 !important;
}

.flex-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center{
  justify-content: center;
  align-items: center;
}

.card-img-holder {
  text-align: center;
  height: 12rem;
}

.card-img {
  height: 100%;
  width: auto;
}

.img-prev-holder {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.img-thumbnail {
  max-height: 50px;
  max-width: 100%;
}